.not-found-container{
    background-color: #141313;
    height: 100vh;
    width: 100%;
}

.not-found-container img{
    width:500px;
    height: 400px;
    padding-top: 30px;
}

.not-found-container h1{
    color: white;
    text-align: center;
    padding-bottom: 30px;
    padding-top: 30px;
}

.not-found-container p{
    color: white;
    text-align: center;
}

.not-found-container a{
    color: rgb(8, 8, 8);
    text-decoration: none;
    background-color: red;
    padding: 10px 20px;
    border-radius: 5px;
}