.blog-container{
    background-color: #141313;
    height: 100vh;
    width: 100%;
}
.blog-container h1{
    color: rgb(230, 4, 4);
    text-align: center;
    padding-top: 20vh;
    font-size: 3em;
    font-family: "Roboto";
    font-weight: 900;

}
.blog-container h2{
    color: white;
    margin-top: 30px;
    font-size: 1.8em;
    font-weight: 700;
    margin-bottom: 10px;
}

.blog-container p{
    font-size: 1.2em;
    color: white;
    margin-left: 20px;
    margin-right: 20px;
}